<%= simple_form_for(@move) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :depart, :placeholder => "Saisissez votre adresse de départ", label: false %>
    <%= f.input :arrivee, :placeholder => "Saisissez votre adresse d'arrivée", label: false %>
    <%= f.input :house_type, collection: Move::LOGEMENTS, as: :select, :include_blank => "Sélectionnez votre type d'habitation", label: false%>
    <%= f.input :acces, as: :boolean, checked_value: true, unchecked_value: false, label:"Accès facile pour un camion ?" %>
  </div>
  <div class="form-button">
    <div class="form-actions" style="position: absolute; display: flex; width: 80vw; margin-top: 3vh; justify-content: center;">
      <%= f.button :submit, 'SUIVANT', class: 'btn btn-suivant w-100 mx-1'%>
    </div>
  </div>
<% end %>
