<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>


<div class="my-layout-container">
  <div class="front-content  card-form">

    <h2> <%= @room.name.upcase %></h2>
    <h2>AJOUTER VOTRE MOBILIER</h2>


    <%= simple_form_for :stuffscreation, method: :post, url: create_stuffs_move_room_path do |f| %>
      <% @stuffs.each do |stuff|%>
        <div class="container-stuffs">
          <%= f.label stuff.name, class: 'item-stuffs' %>
          <%= f.input stuff.name.to_sym, input_html: { value: @room.inventories.where(stuff_id: stuff).length, type: 'number', min: 0 }, label: false, class: 'item-stuffs' %>
        </div>
      <%end %>
        <div class="form-actions">
          <%= f.button :submit, 'SUIVANT', class: 'btn btn-secondary w-100 mx-1' %>
        </div>
    <% end %>

    <%= link_to 'back', rooms_list_move_path(@room.move)%>
  </div>
</div>
