<h1>VOTRE MOBILIER</h1>
<h2> <%= " Ajouter le mobilier de #{@room.name.capitalize}" %></h2>


<%= simple_form_for :stuffscreation, method: :post, url: create_stuffs_move_room_path do |f| %>
  <% @stuffs.each do |stuff|%>
    <div class="container-stuffs">
      <%= f.label stuff.name, class: 'item-stuffs' %>
      <%= f.input stuff.name.to_sym, input_html: { value: 0, type: 'number', min: 0 }, label: false, class: 'item-stuffs' %>
    </div>
  <%end %>
    <div class="form-actions">
    <p>Vous avez fini de saisir votre mobilier ?</p>
      <%= f.button :submit, 'Valider', class: 'btn btn-secondary w-100 mx-1' %>
    </div>
<% end %>

<p> Saisir le mobilier d'une autre pièce</p>
<%= link_to 'back', rooms_list_move_path(@room.move)%>
