<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>

<div class="text-pages-top">
    <h2 class="title-white">SÉLECTIONNER VOS PIÈCES</h2>
</div>

<div class="my-layout-container">
  <div class="front-content  card-form">

    <%# Méthode affichage Room.type %>
    <%= simple_form_for :roomscreation, method: :post, url: create_rooms_move_path do |f| %>

      <%#= affichage de chaque room type name en label %>
      <% RoomType::ROOM_TYPES.each do |type| %>
        <div class=" container-rooms">
          <%= f.label type, class: 'items-rooms'%>
          <%= f.input type.to_sym, input_html: { value: @rooms.where(room_type_id: RoomType.find_by(name: type).id).length, type: 'number', min: @rooms.where(room_type_id: RoomType.find_by(name: type).id).length}, label: false, class: 'items-rooms'  %>
        </div>
      <% end %>

      <div class="form-actions">
          <%= f.button :submit, 'SUIVANT', class: 'btn btn-suivant w-100 mx-1'%>
      </div>
    <% end %>

    <%# A SUPPRIMER DANS UN SECOND TEMPS %>
    <%= link_to 'back', new_move_path %>


    <%= link_to 'next', rooms_list_move_path %>
  </div>
</div>
