<h1>DETAILS DE VOTRE DEMENAGEMENT</h1>
<p>Nombre de cartons par pièces</p>
<%@hash_cartons_by_room.each do |key, value|%>
<div class="btn btn-dark">
  <%= key.name %>
  <br>
  <%= "#{pluralize(value, 'carton')} "%>
</div>
<% end  %>
<br><br>
<p> Matériels à prévoir :</p>
<%= "#{pluralize(@cartons, 'carton')} au total" %>
<br><br>
<%@materiels.each do |key, value|%>
  <%unless key == "Transport" %>
  <%= "#{pluralize(value, key.downcase)}" if key == "Sangle"%>
  <%= "#{value} #{key.downcase}"%>
  <br>
  <% end %>
<% end  %>
<%= "et un #{@materiels["Transport"].downcase}"%>
