<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>

<div class="text-pages-top">
    <h2 class="title-white">VOTRE DEMENAGEMENT</h2>
</div>

<div class="my-layout-container">
  <div class="front-content card-form">
    <div class="horizontal-scroll">
      <%@hash_cartons_by_room.each do |key, value|%>
        <div class="btn btn-secondary done horizontal-scroll__item">
          <%= key.name %>
          <br>
          <%= "#{pluralize(value, 'carton')} "%>
        </div>
      <% end  %>
    </div>

  <br>

  <p>NOMBRE DE CARTONS TOTAL</p>
    <div class= "container-details">
      <p class="style-carton"><%= @cartons %></p>
      <%= image_tag("icon/Carton.png", class: "carton-img")%>
    </div>

  <p>NOMBRE DE VOLONTAIRES</p>
    <div class= "container-details">
      <p class="style-effectif"><%= @effectif_total %></p>
      <%= image_tag("icon/demenageur.png", class: "effectif-img")%>
    </div>

    <p>NOMBRE DE PIZZAS</p>
    <div class= "container-details">
      <p class="style-pizza"><%= @pizza_total %></p>
      <%= image_tag("icon/Pizza.png", class: "pizza-img")%>
    </div>

    <p>NOMBRE DE BIERES</p>
    <div class= "container-details">
      <p class="style-biere"><%= @biere_total %></p>
      <%= image_tag("icon/Biere.png", class: "biere-img")%>
    </div>


  <p> MATERIELS A PREVOIR </p>
    <%@materiels.each do |key, value|%>
      <%# <%unless key == "Transport" %>
      <%#= "#{pluralize(value, key.downcase)}" if key == "Sangle"%>
      <div class="container-materiels">
        <span class="items-materiels py-2"><%= key %></span>
        <span class="items-materiels py-2 qty-materiels text-center"><%= value %></span>
      </div>
      <%#= "#{value} #{key.downcase}"%>
      <%# end %>
    <% end  %>
    <%#= "et un #{@materiels["Transport"].downcase}"%>
    <%= link_to 'Suivant', moves_path, class: 'btn btn-suivant w-100 mx-1' %>
    <%= link_to 'back', recap_move_path  %>
  </div>
</div>
