<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>

<div class="text-pages-top">
  <h2 class="title-white">VOTRE DÉMÉNAGEMENT</h2>
</div>

<div class="my-layout-container">
  <div class="front-content ">
    <div class="container-scroll">
      <div class="horizontal-scroll">

        <%@hash_cartons_by_room.each do |key, value|%>
          <div class="btn card-piece horizontal-scroll__item">
            <p class="card-name-piece"><%= key.name.downcase %></p>
            <p class="card-name-cartons"><%= "#{pluralize(value, 'carton')} "%></p>
            <%= image_tag("icon/Carton.png", class: "carton-button")%>
          </div>
        <% end %>
      </div>

      <div class="details-moves">

        <div class= "container-carton-details">

            <h4 class="style-carton"><%= @cartons %></h4>
            <%= image_tag("Carton.svg", class: "carton-img")%>

        </div>

        <div class="container-icons-details">
          <div class="square">
            <h4 class="style-icons"><%= @effectif_total %></h4>
            <%= image_tag("icon/demenageur.png", class: "img-icons-details")%>
          </div>

          <div class= "square">
            <h4 class="style-icons"><%= @pizza_total %></h4>
            <%= image_tag("icon/Pizza.png", class: "img-icons-details")%>
          </div>


          <div class= "square">
            <h4 class="style-icons"><%= @biere_total %></h4>
            <%= image_tag("icon/Biere.png", class: "img-icons-details")%>
          </div>

          <div class= "square-transport">
            <%= image_tag("icon/Camion.png", class: "img-icons-details")%>
            <h4 class="style-transport"><%= @move.transport %></h4>
          </div>

        </div>

          <h3> MATÉRIELS À PRÉVOIR </h3>
          <%@materiels.each do |key, value|%>

            <div class="container-materiels">
              <div class="items-materiels py-2 label-materiels"><span><%= key %></span></div>
              <div><span class="items-materiels py-2 qty-materiels"><%= value %></span></div>
            </div>

          <% end  %>

      </div>
      <div class="form-button" style="height: 15vh;display: flex;justify-content: center;align-content: center;">
        <%= link_to 'Suivant', moves_path, class: 'btn btn-suivant w-100 mx-1', style: "position: absolute; display: flex; width: 75vw; margin-top: 3vh; justify-content: center;"%>
      </div>
    </div>
  </div>
</div>
