<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>



<div class="my-layout-container">
  <div class="front-content  card-form">

  <h2>VOTRE DEMENAGEMENT</h2>
  <div class="horizontal-scroll">
    <%@hash_cartons_by_room.each do |key, value|%>
    <div class="btn btn-secondary done horizontal-scroll__item">
      <%= key.name %>
      <br>
      <%= "#{pluralize(value, 'carton')} "%>
    </div>
    <% end  %>
  </div>

  <br>
  <p>NOMBRE DE CARTONS TOTAL</p>
  <p class="style-carton"><%= @cartons %></p>
   <%= image_tag("icon/CARTON.png", class: "carton-img")%>


  <p> MATERIELS A PREVOIR </p>
  <br>
    <%@materiels.each do |key, value|%>
      <%# <%unless key == "Transport" %>
      <%#= "#{pluralize(value, key.downcase)}" if key == "Sangle"%>
      <div class="container-materiels">
        <span class="items-materiels py-2"><%= key %></span>
        <span class="items-materiels py-2 qty-materiels text-center"><%= value %></span>
      </div>
      <%#= "#{value} #{key.downcase}"%>
      <%# end %>
    <% end  %>
    <%#= "et un #{@materiels["Transport"].downcase}"%>
    <%= link_to 'Suivant', moves_path, class: 'btn btn-secondary w-100 mx-1' %>
    <%= link_to 'back', recap_move_path  %>
  </div>
</div>
