<h1>DETAILS DE VOTRE DEMENAGEMENT</h1>
<p>Nombre de cartons par pièces</p>
<%@hash_cartons_by_room.each do |key, value|%>
<div class="btn btn-dark">
  <%= key.name %>
  <br>
  <%= "#{pluralize(value, 'carton')} "%>
</div>
<% end  %>
<br><br>
<p> Matériels à prévoir :</p>
<%= "total = #{pluralize(@cartons, 'carton')}" %>
<br><br>
<%@materiels.each do |key, value|%>
<%= " => #{pluralize(value, key.downcase)}" unless key == "Transport" %>
<%= "et un #{value.downcase}" if key == "Transport"%>
<br>
<% end  %>
