<div class="container-image-centered">
  <%= image_tag("Background_full.svg", :class => "background-full")%>

  <div class="text-demenagements-top">
      <h2 class="title-white">TOUTES VOS PIÈCES</h2>
  </div>
</div>

<div class="my-layout-container">
  <div class="front-content text-center">
      <% @moves.each do |move| %>
      <div class="card-form mb-3">
            <tr>
              <td> Démenagement de <%= move.depart %></td>
              <td> à <%= move.arrivee %></td>
              <br>
              <td>Transport : <%= move.transport%></td>
              <br>
              <td>Volume total : <%= @volumes[move] %> m3</td>
              <br>
              <td><%= link_to 'Modifier', edit_move_path(move) %></td>
              <td><%= link_to 'Supprimer', move, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <br>
              <td><%= link_to 'Recap m3', recap_move_path(move) %></td>
              <td><%= link_to 'Liste des pièces', rooms_list_move_path(move) %></td>
              <br>
            </tr>
      </div>
          <% end %>
          <br>
          <%= link_to "Nouveau déménagement !", new_move_path, class: "btn btn-gradient" %>
    </div>
  </div>

</div>
