
<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>

<div class="text-pages-top">
    <h2 class="title-white"><small>VOLUME TOTAL</small></h2>
    <h1 class="title-white text-volume-size"><%= "#{@volume_total}M3" %></h1>
</div>

<div class="my-layout-container">


  <div class="front-content card-form">
    <h1>VOLUME TOTAL</h1>
    <h1><%= "#{@volume_total} M3" %></h1>
    <br><br>

    <p>DETAIL DU VOLUME PAR PIECE</p>
    <%@recap.each do |key, value|%>
      <%= "#{key.upcase} -> #{value} m3"%>
      <br>
    <% end %>

    <br>

    <%= link_to 'Détails', details_move_path, class: 'btn btn-secondary card-room w-25 mx-1' %>
          <p class="small">à partir de</p>
          <span class="h4"><%="#{@prix_perso} € " %></span>
          <span class="small">SEUL</span>

    <%= link_to 'PROF', find_mover_move_path, class: 'btn btn-warning w-100 mx-1' %>
 <span class="h4"><%="#{@prix_pro} € " %></span>
    <%= link_to 'back', moves_path  %>

  </div>
</div>
