<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>

<div class="text-pages-top">
    <h4 class="title-white">VOLUME TOTAL</h4>
    <% if @volume_total == "" %>
    <h1 class="title-white text-volume-size">O M3</h1>
    <% else %>
    <h1 class="title-white text-volume-size"><%= "#{@volume_total}M3" %></h1>
    <% end %>
</div>

<div class="my-layout-container">


  <div class="front-content">

      <p style="margin-top: 5vh; font-size: 6vw;">DÉTAIL DU VOLUME PAR PIÈCE</p>

      <%@recap.each do |key, value|%>
      <div class="container-materiels">
        <div class="items-materiels py-2 label-materiels"><span><%= key.upcase %></span></div>
        <div><span class="items-materiels py-2 qty-materiels"><%= "#{value} m3" %> </span></div>
      </div>
      <% end  %>


    <div class="move-prices">
    <%= link_to details_move_path, class: 'btn btn-secondary done', style: "width: 80vw; margin: 25px;" do %>
      <span class="small">à partir de</span><br>
      <span class="h4" style="margin-top: 5vh; font-size: 10vw;"><%="#{@prix_perso} € " %></span><br>
      <span class="strong" style="font-size: 5vw;">SEUL</span>
    <% end %>

    <%= link_to find_mover_move_path, class: 'btn btn-secondary pro', style: "width: 80vw; margin: 25px;" do %>
      <span class="small">prix indicatif</span><br>
      <span class="h4" style="margin-top: 5vh; font-size: 10vw;"><%="#{@prix_pro} € " %></span><br>
      <span class="strong" style="font-size: 5vw;">PRO</span>
    <% end %>
    </div>
  </div>
</div>
