<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>

<div class="text-pages-top">
    <h4 class="title-white">VOLUME TOTAL</h4>
    <% if @volume_total == "" %>
    <h1 class="title-white text-volume-size">O M3</h1>
    <% else %>
    <h1 class="title-white text-volume-size"><%= "#{@volume_total}M3" %></h1>
    <% end %>
</div>

<div class="my-layout-container">


  <div class="front-content">

      <p style="margin-top: 5vh; font-size: 6vw;">DÉTAIL DU VOLUME PAR PIÈCE</p>

      <%@recap.each do |key, value|%>
      <div class="container-materiels">
        <div class="items-materiels py-2 label-materiels"><span><%= key.upcase %></span></div>
        <div><span class="items-materiels py-2 qty-materiels"><%= "#{value} m3" %> </span></div>
      </div>
      <% end  %>


    <div class="move-prices">
    <%= link_to details_move_path, class: 'btn btn-secondary done', style: "width: 80vw; margin: 23px;border-radius: 20px;" do %>
      <h4 style="color: white;margin: 0 auto;font-size: 5vw;">à partir de</h4>
      <h4 style="font-size: 14vw;font-weight: bold;color: white;margin: 0 auto;"><%="#{@prix_perso} € " %></h4>
      <h4 style="font-size: 5vw;color: white;">SEUL</h4>
    <% end %>

    <%= link_to find_mover_move_path, class: 'btn btn-secondary pro', style: "width: 80vw; margin: 23px;border-radius: 20px;" do %>
      <h4 style="color: white;margin: 0 auto;font-size: 5vw;">prix indicatif</h4>
      <h4 style="font-size: 14vw;font-weight: bold;color: white;margin: 0 auto;"><%="#{@prix_pro} € " %></h4>
      <h4 style="font-size: 5vw;color: white;">AVEC UN PRO</h4>
    <% end %>
    </div>
  </div>
</div>
