<div class="container">

<h1>ROOM LIST</h1>
<p> Description </p>

<% @rooms.each do |room|%>
  <% if room.stuffs.length.zero? %>
    <%= link_to add_stuffs_move_room_path(@move, room), :class => "btn btn-secondary card-room w-100 m-1 mt-4" do  %>
      <span class="h4"><%= room.name.upcase %> </span>
      <br>
      <span class="small">Remplir</span>
    <% end %>
  <% else %>
      <%= link_to add_stuffs_move_room_path(@move, room), :class => "btn btn-secondary card-room done w-100 m-1 mt-4" do  %>
      <span class="h4"><%= room.name.upcase %> </span>
      <br>
      <span class="small"><%= "#{pluralize(room.stuffs.length, "meuble")}" %></span>
    <% end %>
  <% end %>
<br>
<% end  %>

<%= link_to 'back', add_rooms_move_path %>
<%= link_to 'next', recap_move_path %>
</div>
