<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>


<div class="my-layout-container">
  <div class="front-content  card-form">

    <h1>TOUTES VOS PIECES</h1>
    <% @rooms.each do |room|%>
      <% if room.stuffs.length.zero? %>
        <%= link_to add_stuffs_move_room_path(@move, room), :class => "btn btn-secondary card-room w-100 m-1 mt-4" do  %>
          <span class="h4"><%= room.name.upcase %> </span>
          <br>
          <span class="small">Remplir</span>
        <% end %>
      <% else %>
          <%= link_to add_stuffs_move_room_path(@move, room), :class => "btn btn-secondary card-room done w-100 m-1 mt-4" do  %>
          <span class="h4"><%= room.name.upcase %> </span>
          <br>
          <span class="small"><%= "#{pluralize(room.stuffs.length, "meuble")}" %></span>
        <% end %>
      <% end %>
    <br>
    <% end  %>

    <br>

    <%= link_to 'VALIDER', recap_move_path, class: 'btn btn-secondary w-100 mx-1' %>
    <%= link_to 'back', add_rooms_move_path %>
  </div>
</div>
