<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>

<div class="text-pages-top">
    <h2 class="title-white">TOUTES VOS PIÈCES</h2>
</div>

<div class="my-layout-container">
  <div class="front-content  card-form">

    <% @rooms.each do |room|%>
      <% if room.stuffs.length.zero? %>
        <%= link_to add_stuffs_move_room_path(@move, room), :class => "btn btn-secondary card-room w-100 m-1 mt-4" do  %>
          <span class="h4"><%= room.name.upcase %> </span>
          <br>
          <span class="small">Remplir</span>
          <%# <% link_to "supprimer", rooms_list_move_path, method: :delete, class: 'btn', data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% else %>
          <%= link_to add_stuffs_move_room_path(@move, room), :class => "btn btn-secondary card-room done w-100 m-1 mt-4" do  %>
          <span class="h4"><%= room.name.upcase %> </span>
          <br>
          <span class="small"><%= "#{pluralize(room.stuffs.length, "meuble")}" %></span>
        <% end %>
      <% end %>
    <br>
    <% end  %>

    <br>

    <div class="form-button ">
      <%= link_to 'VALIDER', recap_move_path, class: 'btn btn-suivant mx-1', style: 'position: absolute; display: flex; width: 75vw; margin-top: 3vh; justify-content: center;' %>
    </div>
    <%= link_to 'back', add_rooms_move_path %>
  </div>
</div>
