<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>

<div class="text-pages-top">
    <h2 class="title-white">TOUTES VOS PIÈCES</h2>
</div>

<div class="my-layout-container">
  <div class="front-content-rooms">

    <% @rooms.each do |room|%>
        <% if room.stuffs.length.zero? %>
      <div class="btn btn-secondary card-room w-75 m-1 mt-4">
          <%= link_to add_stuffs_move_room_path(@move, room), :class => "card-room-title" do  %>
            <h3><%= room.name.upcase %> </h3>

            <div class="card-room-item-flex" style="display: flex;justify-content: space-around;margin-top: 2vh;align-items: center;">
              <span class="small card-room-description">Remplir</span>
              <%= link_to room_destroy_move_room_path(@move, room), method: :room_destroy, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash card-room-trash" ></i>
              <% end %>
            </div>
          <% end %>

        <% else %>
        <div class="btn btn-secondary card-room done w-75 m-1 mt-4">
          <%= link_to add_stuffs_move_room_path(@move, room), :class => "card-room-title" do  %>
            <h3 style="color: white;"><%= room.name.upcase %> </h3>
            <div class="card-room-item-flex" style="display: flex;justify-content: space-around;margin-top: 2vh;align-items: center;">
              <span class="small card-room-description" style="color: white;"><%= "#{pluralize(room.stuffs.length, "meuble")}" %></span>
              <%= link_to room_destroy_move_room_path(@move, room), method: :room_destroy, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash card-room-trash" style="color: white;"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end  %>

    <div class="form-button" style="height: 15vh;display: flex;justify-content: center;align-content: center;width: 100vw;">
      <%= link_to 'VALIDER', recap_move_path, class: 'btn btn-suivant mx-1', style: 'position: absolute; display: flex; width: 75vw; margin-top: 3vh; justify-content: center;' %>
    </div>

  </div>
</div>
