<h1>Tout sur votre déménagement </h1>
<div>
<p><%= @volume_total %> m3</p>
<%= link_to 'Voir plus', recap_move_path(@move), class: '' %>
<p>transport : <%= @move.transport %></p>
<p> <%= @cartons %> cartons</p>
<p> effectif : <%= @effectif_total %> </p>
<%= link_to 'Voir plus',  details_move_path(@move), class: '' %>
</div>
<div id="map"
style="width: 100%; height: 600px;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div id="instructions"></div>
